.form-label {
  @apply mb-2 text-gray-800 dark:text-gray-300 text-sm leading-6 capitalize cursor-pointer block w-full font-medium rtl:text-right rtl:block;
}

.form-control {
  @apply bg-white dark:bg-transparent transition duration-300 ease-in-out border border-gray-300/70
   dark:border-gray-300 dark:text-gray-300 focus:ring-1 focus:ring-gray-600
   dark:focus:ring-neutral-200 focus:outline-none focus:ring-opacity-90 rounded
    placeholder:text-gray-400 text-black text-sm px-3 placeholder:font-normal dark:placeholder:text-gray-400 block w-full;
}

.input-description {
  @apply block text-gray-500 font-light leading-4 text-xs mt-2;
}

.fromGroup {
  @apply relative;
  &.has-error {
    .form-control {
      @apply border-red-500 focus:ring-red-500  focus:ring-opacity-90 focus:ring-1;
    }
  }
  &.is-valid {
    .form-control {
      @apply border-green-500 focus:ring-green-500 focus:ring-opacity-90 focus:ring-1;
    }
  }
}

.form-control[readonly] {
  @apply bg-gray-200 text-gray-400 dark:bg-gray-600 cursor-pointer placeholder:text-gray-400;
}

.form-control[disabled] {
  @apply cursor-not-allowed bg-gray-50 text-gray-800 dark:text-neutral-200 placeholder:text-opacity-60 dark:bg-transparent;
}

// file input
.file-control {
  @apply bg-transparent dark:bg-brand2 dark:text-white transition duration-300 ease-in-out border border-gray-200 dark:border-gray-200 focus:ring-1 focus:ring-gray-200 dark:focus:ring-neutral-200 focus:outline-none focus:ring-opacity-90 rounded   text-sm ltr:pl-3 rtl:pr-3   placeholder:font-normal;
}

.badge-title {
  @apply bg-gray-900 text-white px-2 py-[3px] rounded text-sm;
}

// datae picker
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  @apply bg-gray-900 border;
}
